DATABASE_URL="postgresql://postgres:pavel@localhost:5432/pavel?schema=public"
PORT=4000
CLOUDINARY_CLOUD_NAME=drjgiv0ex
CLOUDINARY_API_KEY=973694763773917
CLOUDINARY_API_SECRET=_YwHmsEW8hovYlPaeIAdWPjQmTM